.body {
    background-color: #f8fafc;
    margin: 0 auto;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    padding: 0px 0px 0px 200px;
    box-shadow: 0 5px 8px -2px lightgray;
}
.pavadinimas {
    float: left;
}
span {
    color: #0000ff;
}
.fa-brands {
    color: blue;
    padding: 0px 10px;
}
.icons {
    padding: 0px 200px 0px 40px;
}
.fa-brands:hover {
    color: lightskyblue;
}
input:checked {
    outline: solid black;
}
.task-input {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 200px;
    width: 600px;
    margin: 100px auto 50px;
    box-shadow: 0 5px 8px 1px lightgray;
    border-radius: 5px;
}
.form {
    display: flex;
    justify-content: center;
}
#task {
    width: 300px;
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    border-style: solid none solid solid;
    border-color: lightgray;
    border-width: 1px;
}
::placeholder {
    color: lightgray;
    font-weight: 300;
    font-size: larger;
    padding-left: 5px;
}
.add {
    width: 150px;
    background-color: blue;
    color: white;
    font-weight: 300;
    font-size: medium;
    border-radius: 0px 5px 5px 0px;
    border-style: none;
}
.add:hover  {
    background-color: rgb(7, 7, 187);
}
.task-output {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    background-color: white;
    height: 60px;
    width: 600px;
    margin: 10px auto 20px auto;
    box-shadow: 0 5px 8px 1px lightgray;
    border-radius: 5px;
}
.task-output:hover {
    box-shadow: 0 20px 20px -5px lightgray,
                -20px 20px 20px -10px lightgray, 
                20px 20px 20px -10px lightgray;
}
.your-tasks {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 400;
}
.error {
    color: red;
    font-size: x-small;
    letter-spacing: 1px;
    padding-left: 73px;
}
.all-tasks{
    margin: 50px auto 20px auto;
}
.your-tasks-noted {
    font-weight: 400;
    font-size: 20px;
}
.fa-pen-to-square {
    color: green;
}
.fa-trash {
    color: rgb(155, 13, 13);
}
.functional-links {
    padding: 0px 20px 0px 0px;
}
.fa-circle-check{
    padding-left: 20px;
    color: green;
}
.task-done {
    padding-left: 20px;
    text-decoration: line-through;
}
.task-done-cont {
    display: flex;
    align-items: center;
}
.task-not-done {
    padding-left: 50px;
}
